{% extends "dashboard.html" %}
{% load i18n %}
{% load bootstrap %}
{% load static from staticfiles %}
{% block title %}{% blocktrans %}Benutzereinstellungen{% endblocktrans %}{% endblock %}
{% block additional_js %}
    <script src="{% static "js/plugins/footable/footable.js" %}"></script>
{% endblock %}
{% block additional_css %}
    <link href="{% static "css/plugins/footable/footable.core.css" %}" rel="stylesheet">
{% endblock %}
{% block main_heading %}{% blocktrans %}Passwort ändern{% endblocktrans %}{% endblock %}
{% block menu_usersettings %}active{% endblock %}
{% block breadcrumbs %}
    <li class="active">
        <a href="{% url 'change_password' %}">{% trans "Passwort ändern" %}</a>
    </li>
{% endblock %}
{% block main_content %}
    <div class="row">
        <div class="col-lg-6">
            <div class="text-left m-t-lg">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>{% trans "Passwort ändern" %}</h5>

                        <div class="ibox-tools">

                        </div>
                    </div>
                    <style>
                        p.help-block {
                            display: none;
                        }</style>
                    <div class="ibox-content" style="text-align: left;">
                        <form class="m-t" role="form" method="post">
                            {% csrf_token %}
                            {{ form|bootstrap }}
                            <button type="submit"
                                    class="btn btn-success block full-width m-b">{% trans "Passwort ändern" %}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% block after_content %}{% endblock %}
    </div>
{% endblock %}

