{% extends "full_page_centered.html" %}
{% load i18n %}
{% load bootstrap %}
{% load static from staticfiles %}

{% block title %}{% trans "Neues Passwort" %}{% endblock %}
{% block page_heading %}{% trans "Bitte geben Sie ein neues Passwort an" %}{% endblock %}

{% block before_content %}
        <div>

            <h1 class="logo-name"><img style="width:100%;" src="{% static "img/secdash_big.png" %}"/></h1>

        </div>
        {% endblock %}

{% block content %}

    <div class="registration">
        <form class="m-t" role="form" method="post">
            {% csrf_token %}
            {{ form|bootstrap }}
            <button type="submit" class="btn btn-success block full-width m-b">{% trans "Passwort speichern" %}</button>
        </form>

    </div>
{% endblock %}