{% extends "mail.html" %}
{% load i18n %}
{% block title %}{% endblock %}
{% block header %}{% endblock %}
{% block content %}
    <tr>
        <td class="content-block">
            <p>
                {% trans "Hallo" %},
            </p>

            <p>
                {% blocktrans %}Diese E-Mail wurde aufgrund einer Anfrage zum Zurücksetzen des Passworts auf der Website
                    {{ domain }} versendet.

                    Bitte öffne den folgenden Link, um ein neues Passwort einzugeben:{% endblocktrans %}
            </p>
        </td>
    </tr>
    <tr>
        <td class="content-block aligncenter">
            <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}"
               class="btn-primary">{% trans "Passwort zurücksetzen" %}</a>
        </td>
    </tr>
{% endblock %}




